<div class="div__js-outer">
    <h1>JavaScript Variables</h1><br>

    <div>
        <div style="max-width: 500px" >
            <ul>
                <li>
                    <h2>undeclared</h2>
                    <p> Example : x = 5;</p>
                    <p>Variable without a var declaration is treated as global. If you are in a browser, that scope is window</p>
                    <br>
                </li>
        
                <li>
                    <h2>var</h2>
                    <p>The var statement declares function-scoped or globally-scoped variables, optionally initializing each to a value.</p>
                    <br>
                </li>
        
               <li>
                   <h2>let</h2>
                    <p>The let declaration declares re-assignable, block-scoped local variables, optionally initializing each to a value.</p>
                    <br>
               </li>
        
                <li>
                    <h2>const</h2>
                    <p>The const declaration declares block-scoped local variables. The value of a constant can't be changed through reassignment using the assignment operator, but if a constant is an object, its properties can be added, updated, or removed.</p>
                </li>
            </ul>
        </div><br>
        <br>
    
        <div style="margin-left: 3rem;">
            <table>
                <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Scope</th>
                        <th>Hoisting</th>
                        <th>Can Be Reassigned</th>
                        <th>Can Be Redeclared</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td style="background-color: white;"><a
                                href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/var"><code>var</code></a>
                        </td>
                        <td>Function scope</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td style="background-color: white;"><a
                                href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let"><code>let</code></a>
                        </td>
                        <td>Block scope</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td style="background-color: white;"><a
                                href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const"><code>const</code></a>
                        </td>
                        <td>Block scope</td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <h2>SCOPE:</h2>
    <ul>
        <li><p>Global variables are those declared outside of a block</p></li>
        <li><p>Local variables are those declared inside of a block</p></li>
    </ul>
    <img src="public/scope.png" alt="">
    <h2>Data types:</h2>
    <ul>
        <li>string: "hi"</li>
        <li>number: 1</li>
        <li>boolean: true/false</li>
        <li>undefined</li>
        <li>null</li>
        <li>symbol</li>
        <li>bigint</li>
    </ul><br><br>







<h1>OPERATORS</h1>
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators">MDN</a>

<div class="div__js-inner">
    <code>
        
        1 == "1" (equality regardless of variable type)<br>
        true<br><br>
        1 === "1" (strict equality)<br>
        false<br><br>
        1 != "1" (inequality without distinction)<br>
        false<br><br>
        1 !== "1" (strict inequality)<br>
        true<br>

    </code>

</div>
<p>The strict inequality operator (!==) checks whether its two operands are not equal, returning a Boolean
    result.</p>

<h2> String: text variable</h2>
<div class="div__js-inner">
    <code>
        let variable = "text"<br>
        
    </code>
</div>
<hr>
<hr>
<h2>STRING TEMPLATE LITERALS:</h2>
<div class="div__js-inner">
    <code>`hello ${1+2+3}` = "hello 6" </code>(using "backtics" compilator detects text as
    javascript instead of string)
</div>


<h3> Example 1:</h3>
<div class="div__js-inner">
    <code>
        let product = "artichoke";<br><br>
        let price = 2.25;<br><br>
        let qty = 5;<br><br>
        `You bought ${qty} ${product}. Total is: ${price*qty}` = 'You bought 5 artichoke. Total is: 11.25'<br><br>
    </code>
</div>
<a href="https://superuser.com/questions/254076/how-do-i-type-the-tick-and-backtick-characters-on-windows"
    target="_blanck">Backtics</a><br><br>

</div>