<div class="div__css-inner-block">
    <h2>TRANSITION</h2>
    <Table>

        <tr>
            <td>transition-delay </td>
            <td>specifies the duration to wait before starting a property's transition effect when its
                value
                changes.</td>
        </tr>
        <tr>
            <td>transition-duration </td>
            <td>sets the length of time a transition animation should take to complete</td>
        </tr>
        <tr>
            <td>transition-property </td>
            <td>sets the CSS properties to which a transition effect should be applied. </td>
        </tr>
        <tr>
            <td>transition-timing-function</td>
            <td>sets how intermediate values are calculated for CSS properties being affected by a
                transition
                effect.</td>
        </tr>

    </Table>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition" target="_blank">MDN
        Transition</a>
</div>