<div class="div__css-inner-block">
<table>
<tr>
    <th colspan="2">PSEUDO ELEMENTS</th>
</tr>
<tr>
    <td>::first-line </td>
    <td>applies styles to the first line of a block-level element</td>
</tr>
<tr>
    <td>::after </td>
    <td>creates a pseudo-element that is the last child of the selected element</td>
</tr>
<tr>
    <td>::before </td>
    <td>creates a pseudo-element that is the first child of the selected element</td>
</tr>
<tr>
    <td>::file-selector-button</td>
    <td>represents the button of an &ltinput> of type="file"</td>
</tr>
</table>
</div>