<div class="div__css-inner-block">
    <h2>BACKGROUND</h2>

    <table>



        <tr>
            <th>background: </th>
            <td></td>
            <td>sets all background style properties at once, such as color, image, origin and size, or
                repeat
                method</td>
        </tr>
        <tr>
            <th>background-color:</th>
            <td></td>
            <td>sets the background color of an element.</td>
        </tr>
        <tr>
            <td></td>
            <td>brown;</td>
        </tr>
        <tr>
            <td></td>
            <td>#74992e;</td>
        </tr>
        <tr>
            <td></td>
            <td>rgb(255, 255, 128);</td>
        </tr>
        <tr>
            <td></td>
            <td>rgba(255, 255, 128, .5);</td>
        </tr>
        <tr>
            <td></td>
            <td>hsl(50, 33%, 25%);</td>
        </tr>
        <tr>
            <td></td>
            <td>hsla(50, 33%, 25%, .75);</td>
        </tr>
        <tr>
            <td></td>
            <td>linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));</td>
        </tr>


        <tr>
            <th>background-image:</th>
            <td></td>
            <td>sets one or more background images on an element</td>
        </tr>
        <tr>
            <td></td>
            <td>blue</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>url("../../media/examples/lizard.png");</td>
            <td></td>
        </tr>
        <th>background-size</th>
        <td></td>
        <td>sets the size of the element's background image. The image can be left to its natural size,
            stretched, or constrained to fit the available space.</td>


        <tr>
            <td>background-size:</td>
            <td>contain;</td>
            <td> Scales the image as large as possible within its container without cropping or
                stretching the
                image. If the container is larger than the image, this will result in image tiling,
                unless the
                background-repeat property is set to no-repeat.</td>
        </tr>
        <tr>
            <td>background-size:</td>
            <td>cover;</td>
            <td> Scales the image (while preserving its ratio) to the smallest possible size to fill the
                container (that is: both its height and width completely cover the container), leaving
                no empty
                space. If the proportions of the background differ from the element, the image is
                cropped either
                vertically or horizontally.
        </tr>
        </td>
        <tr>
            <td>background-size:</td>
            <td>30%; </td>
            <td>Stretches the image in the corresponding dimension to the specified percentage of the
                background
                positioning area.</td>
        </tr>
        <tr>
            <td>background-size:</td>
            <td>200px 100px; </td>
            <td> Using both a width and a height value, in which case the first sets the width and the
                second
                sets the height</td>
        </tr>
        <tr>
            <td>background-size:</td>
            <td>6px, auto, contain;</td>
        </tr>

        <tr>
            <th> background-origin: </th>
            <td></td>
            <td>sets the background's origin: from the border start, inside the border, or inside the
                padding.
            </td>
        </tr>
        <tr>
            <td>background-origin:</td>
            <td>padding-box;</td>
        </tr>
        <tr>
            <td>background-origin:</td>
            <td>content-box;</td>
        </tr>
        <tr>
            <td>background-origin:</td>
            <td>border-box; </td>
            <td>The background is positioned relative to the border box</td>
        </tr>


        <tr>
            <th>background-attachment</th>
            <td></td>
            <td>sets whether a background image's position is fixed within the viewport, or scrolls with
                its
                containing block.</td>
        </tr>

        <tr>
            <td>background-attachment:</td>
            <td>scroll;</td>
            <td>The background is fixed relative to the element itself and does not scroll with its
                contents.
                (It is effectively attached to the element's border.)</td>
        </tr>
        <tr>
            <td>background-attachment:</td>
            <td>fixed; </td>
            <td>The background is fixed relative to the viewport. Even if an element has a scrolling
                mechanism,
                the background doesn't move with the element.</td>
        </tr>
        <tr>
            <td>background-attachment:</td>
            <td>local; </td>
            <td>The background is fixed relative to the element's contents. If the element has a
                scrolling
                mechanism, the background scrolls with the element's contents, and the background
                painting area
                and background positioning area are relative to the scrollable area of the element
                rather than
                to the border framing them.
        </tr>
        </td>


        <tr>
            <th>background-clip</th>
            <td></td>
            <td>sets whether an element's background extends underneath its border box, padding box, or
                content
                box.</td>
        </tr>

        <tr>
            <td>background-clip:</td>
            <td>border-box;</td>
        </tr>
        <tr>
            <td>background-clip:</td>
            <td>padding-box;</td>
        </tr>
        <tr>
            <td>background-clip:</td>
            <td>content-box;</td>
        </tr>

        <tr>
            <td>background-clip:</td>
            <td>text;</td>
        </tr>
        <tr>
            <td>-webkit-background-clip:</td>
            <td>text;</td>
        </tr>


        <tr>
            <td>background-repeat:</td>
            <td>no-repeat;</td>
        </tr>
    </table>
</div>