<div class="div__css-inner-block">
    <table>
        <th colspan="2">UNITS</th>


        <tr>
            <td>px </td>
            <td> pixels </td>
        </tr>
        <tr>
            <td>%</td>
        </tr>
        <tr>
            <td>em </td>
            <td> with font-size 1em equals font-size of the parent, with other properties, 1em is equal
                to the computed font-size of the element itself</td>
        </tr>
        <tr>
            <td>rem </td>
            <td> root html font-size </td>
        </tr>
        <tr>
            <td>ch </td>
            <td> equates to the width of the number 0 (zero) of the grid container's current font</td>
        </tr>
        <tr>
            <td>auto</td>
            <td>use when you want to make your grid track match the size of content inside of it. This
                works for text, images, SVG, canvas elements, etc.</td>
        </tr>
        <tr>
            <td>none</td>
            <td> is the default for rows and columns if you don't specify them. Use none mainly when you
                want to reset/override a grid that was defined earlier, for example in a media query
                breakpoint.</td>
        </tr>
        <tr>
            <td>vh</td>
            <td>viewport height , 100vh = 100% size of the viewport</td>
        </tr>
        <tr>
            <td>vw</td>
            <td>viewport width same that vh but for the width</td>
        </tr>
    </table>
</div>
