<div class="div__css-inner-block">
    <h2>BORDER</h2>


    <table>
        <thead>
            <tr>
                <th colspan="2">BORDER PROPERTIES</th>
            </tr>
        </thead>
            <tr><td>border</td><td></td></tr>
            <tr><td>border-block</td><td></td></tr>
            <tr><td>border-block-color</td><td></td></tr>
            <tr><td>border-block-end</td><td></td></tr>
            <tr><td>border-block-end-color</td><td></td></tr>
            <tr><td>border-block-end-style</td><td></td></tr>
            <tr><td>border-block-end-width</td><td></td></tr>
            <tr><td>border-block-start</td><td></td></tr>
            <tr><td>border-block-start-color</td><td></td></tr>
            <tr><td>border-block-start-style</td><td></td></tr>
            <tr><td>border-block-start-width</td><td></td></tr>
            <tr><td>border-block-style</td><td></td></tr>
            <tr><td>border-block-width</td><td></td></tr>
            <tr><td>border-bottom</td><td></td></tr>
            <tr><td>border-bottom-color</td><td></td></tr>
            <tr><td>border-bottom-left-radius</td><td></td></tr>
            <tr><td>border-bottom-right-radius</td><td></td></tr>
            <tr><td>border-bottom-style</td><td></td></tr>
            <tr><td>border-bottom-width</td><td></td></tr>
            <tr><td>border-collapse</td><td>collapse;</td></tr>
            <tr><td>border-color</td><td></td></tr>
            <tr><td>border-end-end-radius</td><td></td></tr>
            <tr><td>border-end-start-radius</td><td></td></tr>
            <tr><td>border-image</td><td></td></tr>
            <tr><td>border-image-outset</td><td></td></tr>
            <tr><td>border-image-repeat</td><td></td></tr>
            <tr><td>border-image-slice</td><td></td></tr>
            <tr><td>border-image-source</td><td></td></tr>
            <tr><td>border-image-width</td><td></td></tr>
            <tr><td>border-inline</td><td></td></tr>
            <tr><td>border-inline-color</td><td></td></tr>
            <tr><td>border-inline-end</td><td></td></tr>
            <tr><td>border-inline-end-color</td><td></td></tr>
            <tr><td>border-inline-end-style</td><td></td></tr>
            <tr><td>border-inline-end-width</td><td></td></tr>
            <tr><td>border-inline-start</td><td></td></tr>
            <tr><td>border-inline-start-color</td><td></td></tr>
            <tr><td>border-inline-start-style</td><td></td></tr>
            <tr><td>border-inline-start-width</td><td></td></tr>
            <tr><td>border-inline-style</td><td></td></tr>
            <tr><td>border-inline-width</td><td></td></tr>
            <tr><td>border-left</td><td></td></tr>
            <tr><td>border-left-color</td><td></td></tr>
            <tr><td>border-left-style</td><td></td></tr>
            <tr><td>border-left-width</td><td></td></tr>
            <tr><td>border-radius</td><td></td></tr>
            <tr><td>border-right</td><td></td></tr>
            <tr><td>border-right-color</td><td></td></tr>
            <tr><td>border-right-style</td><td></td></tr>
            <tr><td>border-right-width</td><td></td></tr>
            <tr><td>border-spacing</td><td></td></tr>
            <tr><td>border-start-end-radius</td><td></td></tr>
            <tr><td>border-start-start-radius</td><td></td></tr>
            <tr><td>border-style</td><td></td></tr>
            <tr><td>border-top</td><td></td></tr>
            <tr><td>border-top-color</td><td></td></tr>
            <tr><td>border-top-left-radius</td><td></td></tr>
            <tr><td>border-top-right-radius</td><td></td></tr>
            <tr><td>border-top-style</td><td></td></tr>
            <tr><td>border-top-width</td><td></td></tr>



    </table>
</div>