<div class="div__css-inner-block">
    <h2>POSITION:</h2>

    <table id="imputtypes">
        <tr>
            <th colspan="2">PROPERTIES</th>
        </tr>
        <tr>
            <td>Static </td>
            <td>The element is positioned according to the normal flow of the document. The top, right,
                bottom,
                left, and z-index properties have no effect. This is the default value.</td>
        </tr>
        <tr>
            <td>Relative</td>
            <td>The element is positioned according to the normal flow of the document, and then offset
                relative
                to itself based on the values of top, right, bottom, and left. The offset does not
                affect the
                position of any other element</td>
        </tr>
        <tr>
            <td>Absolute</td>
            <td>The element is removed from the normal document flow, and It is positioned relative to
                its
                closest positioned ancestor.</td>
        </tr>
        <tr>
            <td>Fixed </td>
            <td>The element is removed from the normal document flow. It is positioned relative to the
                initial
                containing block established by the viewport.</td>
        </tr>
        <tr>
            <td>Sticky </td>
            <td>The element is positioned according to the normal flow of the document, and then offset
                relative
                to its nearest scrolling ancestor and containing block (nearest block-level ancestor),
                including
                table-related elements, based on the values of top, right, bottom, and left. The offset
                does not
                affect the position of any other elements.</td>
        </tr>
        <tr>
            <td>Float:</td>
            <td> Places an element on the left or right side of its container, allowing text and inline
                elements
                to wrap around it.</td>
        </tr>

    </table>
</div>