<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesbox.css">
    <script defer src="scriptsjs.js"></script>
    <title>JS</title>
</head>
<body>
    <div id="wraper">
        <header> 
            <h1>JavaScript</h1>
        </header>
    	<div id="innerwraper">
    
            <Nav> 
                <button onclick="window.location.assign('/')" />BACK</button>
                <button onClick="window.location.reload()"> MAIN </button>
                <button onclick="loadSnippet(1)" id="jsbtn">VARIABLES</button>
                <button onclick="loadSnippet(2)" id="jsbtn">GLOBAL OBJECTS</button>
                <button onclick="loadSnippet(5)" id="jsbtn">OBJECTS</button>
                <button onclick="loadSnippet(4)" id="jsbtn">ARRAYS</button>
                <button onclick="loadSnippet(6)" id="jsbtn">LOOPS</button>
                <button onclick="loadSnippet(3)" id="jsbtn">CONDITIONALS</button>
                <button onclick="loadSnippet(7)" id="jsbtn">FUNCTIONS</button>
                <button onclick="loadSnippet(8)" id="jsbtn">THIS</button>
                <button onclick="loadSnippet(9)" id="jsbtn">TRY&CATCH</button>
                <button onclick="loadSnippet(10)" id="jsbtn">DOM</button>
                <button onclick="loadSnippet(11)" id="jsbtn">ASYNC-API</button>
                <button onclick="loadSnippet(12)" id="jsbtn">CLASS-PROTOTYPES</button>
                
            </Nav>
    
            
            <div id="box" class="target">
                
            </div>
            
        </div>
    </div>
</body>
</html>