<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
        <title>NEWS</title>
</head>
<body>
        
<link rel="stylesheet" href="stylesbox.css">
<link rel="stylesheet" href="styles.css">



<nav style="width: 100%; background-color: grey; height: 4rem; flex-direction: row; ">
        <div style="width: 10rem;"><button onclick="window.location.assign('/')">BACK</button></div>
        <div style="display:flex; flex-direction:row;"> 
                <a class="nav_button" href="#italia">ITALIA</a>
                <a class="nav_button" href="#español"">ESPAÑOL</a>
                <a class="nav_button" href="#ruso">РУССКИЙ</a>
                
        </div>
        
        
</nav>
<div style="margin: 5px; display:flex ; flex-direction: column; flex-wrap: wrap; justify-content: center;">
        <div id="italia" style="align-self: center; background-color: green; width: 25%; text-align: center;"><h1>ITALIA</h1></div>
        <div style="display:flex ;  flex-wrap: wrap; justify-content: center; ">
                
                <div class="frame-container"><iframe id="myIframe"src="https://www.ilgazzettino.it/" width="930"height="1000"></iframe></div>
                <div class="frame-container"><iframe  id="myIframe"src="https://www.repubblica.it/" width="930"  height="1000"></iframe></div>
                <div class="frame-container"><iframe  id="myIframe"src="https://www.ilmattino.it/" width="930" height="1000" ></iframe></iframe></div>
        </div>
                <div id="español" style="align-self: center; background-color: green; width: 25%; text-align: center;"><h1>ESPAÑOL</h1></div>
        <div style="display:flex ;  flex-wrap: wrap; justify-content: center;" >
                <div class="frame-container"><iframe  id="myIframe" src="https://www.elpais.com/" width="930" height="1000"  ></iframe></iframe></div>
                <div class="frame-container"><iframe  id="myIframe" src="https://www.lanacion.com/" width="930" height="1000"  ></iframe></iframe></div>
                <div class="frame-container"><iframe  id="myIframe" src="https://www.pagina12.com.ar/" width="930" height="1000"  ></iframe></iframe></div>
        </div>
        <div id="ruso" style="align-self: center; background-color: green; width: 25%; text-align: center;"><h1>РУССКИЙ</р1></div>
        <div style="display:flex ;  flex-wrap: wrap; justify-content: center;">
                <div class="frame-container"><iframe  id="myIframe" src="https://www.pravda.ru/" width="930" height="1000"  ></iframe></iframe></div>
                <div class="frame-container"><iframe  id="myIframe" src="https://www.kp.ru/" width="930" height="1000"  ></iframe></iframe></div>
                <div class="frame-container"><iframe  id="myIframe" src="https://www.rg.ru/" width="930" height="1000"  ></iframe></iframe></div>
        </div>
        <div style="display:flex ;  flex-wrap: wrap; justify-content: center;">
                <div class="frame-container"><iframe  id="myIframe" src="https://www.rt.com/" width="930" height="1000"  ></iframe></div>
        </div>
        <!-- <div><iframe src="https://ecutools.eu/" width="400" height="400"></iframe></div>
        <div><iframe src="https://www.hex-17.com/" width="400" height="400"></iframe></div>
        <div><iframe src="https://alduselectronics.com/" width="400" height="400"></iframe></div>
        <div><iframe src="https://kenttuning.co.uk/" width="400" height="400"></iframe></div>
        <div><iframe src="https://www.accuratetechnologies.com/" width="400" height="400"></iframe></div>
        <div><iframe src="https://ecudecoder.com/" width="400" height="400"></iframe></div>
        <div><iframe src="https://www.boschaftermarket.com/" width="400" height="400"></iframe></div>
        <div><iframe src="https://www.ecutek.com/" width="400" height="400"></iframe></div>
        <div><iframe src="https://www.hhdsoftware.com/free-hex-editor" width="400" height="400"></iframe></div>
        <div><iframe src="https://front-end.6te.net/" width="400" height="400"></iframe></div> -->
</div>

</body>
</html>