<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Web Dev Helper: Fast docs for webdev and experiment sandbox" />
    <meta property="og:url" content="https://726f-178-176-73-17.ngrok-free.app " />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cdn.theatlantic.com/thumbor/z-XVKtXW508RquwZSc_0zRD4p4I=/4x39:1913x1041/960x504/media/img/mt/2022/02/original-5/original.jpg">
    
    <link rel="stylesheet" href="styles.css">
    

    <title>Web Dev Helper</title>
</head>
<!-- scroll="no" style="overflow: hidden" -->
<body>
    <div>
        <h1 class="titlecenter">WEB DEV HELPER</h1>
    </div>
    <div class="nav_main_container" id="main_menu">
        <nav class="nav_main_buttons">
            <a class="nav_button" href="html">HTML</a>
            <a class="nav_button" href="css">CSS</a>
            <a class="nav_button" href="js">JS</a>
            <a class="nav_button" href="nodejs">NODEJS</a>
            <a class="nav_button" href="vscode">VSCODE</a>
            <a class="nav_button" href="eframe"> NEWS</a>
            <a class="nav_button" href="home">3D PAGE</a>
            

        </nav>
    </div>
    

</body>

</html>