<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesbox.css">
    <script defer src="scriptsjs.js"></script>
    <title>JS</title>
</head>
<body>
    <div id="wraper">
        <header> 
            <h1>JavaScript</h1>
        </header>
    	<div id="innerwraper">
    
            <Nav> 
                <button onclick="window.location.assign('/')" />BACK</button>
                <button onClick="window.location.reload()"> MAIN </button>
                <button onclick="loadSnippet(1)" id="jsbtn">VARIABLES</button>
                <button onclick="loadSnippet(2)" id="jsbtn">GLOBAL OBJECTS</button>
                <button onclick="loadSnippet(5)" id="jsbtn">OBJECTS</button>
                <button onclick="loadSnippet(4)" id="jsbtn">ARRAYS</button>
                <button onclick="loadSnippet(6)" id="jsbtn">LOOPS</button>
                <button onclick="loadSnippet(3)" id="jsbtn">CONDITIONALS</button>
                <button onclick="loadSnippet(7)" id="jsbtn">FUNCTIONS</button>
                <button onclick="loadSnippet(8)" id="jsbtn">THIS</button>
                <button onclick="loadSnippet(9)" id="jsbtn">TRY&CATCH</button>
                <button onclick="loadSnippet(10)" id="jsbtn">DOM</button>
                <button onclick="loadSnippet(11)" id="jsbtn">ASYNC-API</button>
                <button onclick="loadSnippet(12)" id="jsbtn">CLASS-PROTOTYPES</button>
                
            </Nav>
    
            
            <div id="box" class="target">
                <h1>ECMAScript (Javascript)</h1>
    <a href="https://262.ecma-international.org/">ECMA</a>


    <h2>VERSIONS:</h2>
    <table>

        <tbody>
            <tr>
                <th scope="col">Edition
                </th>
                <th scope="col">Date published
                </th>
                <th scope="col">Name
                </th>
                <th scope="col">Changes from prior edition
                </th>
            </tr>
            <tr>
                <th scope="row">ES1
                </th>
                <td>June 1997
                </td>
                <td>ECMAScript 1 (1997)
                </td>
                <td>
                    <ul>
                        <li>First edition</li>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">ES2
                </th>
                <td>June 1998
                </td>
                <td>ECMAScript 2 (1998)
                </td>
                <td>
                    <ul>
                        <li>Editorial changes to keep the specification fully aligned with ISO/IEC 16262 international
                            standard</li>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">ES3
                </th>
                <td>December 1999
                </td>
                <td>	ECMAScript 3 (1999)
                </td>
                <td>
                    <ul>
                        <li>Added regular expressions</li>
                        <li>Added try/catch</li>
                        <li>Added switch</li>
                        <li>Added do-while</li>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">ES4
                </th>
                <td><i>Abandoned</i> (last draft 30 June 2003)
                </td>
                <td>ECMAScript 4
                </td>
                <td>
                    <ul>
                        <li>
                            Fourth Edition was abandoned, due to political differences concerning language complexity.
                            Many
                            features proposed for the Fourth Edition have been completely dropped; some were
                            incorporated into
                            the sixth edition.
                        </li>
                    </ul>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row">ES5
                </th>
                <td>December 2009
                </td>
                <td>ECMAScript 2009
                </td>
                <td>
                    <ul>
                        <li>"use strict"</li>
                        <li>String[number] access</li>
                        <li>Multiline strings</li>
                        <li>String.trim()</li>
                        <li>Array.isArray()</li>
                        <li>Array forEach()</li>
                        <li>Array map()</li>
                        <li>Array filter()</li>
                        <li>Array reduce()</li>
                        <li>Array reduceRight()</li>
                        <li>Array every()</li>
                        <li>Array some()</li>
                        <li>Array indexOf()</li>
                        <li>Array lastIndexOf()</li>
                        <li>JSON.parse()</li>
                        <li>JSON.stringify()</li>
                        <li>Date.now()</li>
                        <li>Date toISOString()</li>
                        <li>Date toJSON()</li>
                        <li>Property getters and setters</li>
                        <li>Reserved words as property names</li>
                        <li>Object methods</li>
                        <li>Object defineProperty()</li>
                        <li>Function bind()</li>
                        <li>Trailing commas</li>
                        <a href="https://www.w3schools.com/js/js_es5.asp">Source</a>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">5.1
                </th>
                <td>June 2011
                </td>
                <td>
                </td>
                <td>
                    <ul>
                        <li>
                            This edition 5.1 of the ECMAScript standard is fully aligned with the third edition of the
                            international standard ISO/IEC 16262:2011.
                        </li>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">ES6
                </th>
                <td>June 2015
                </td>
                <td>ECMAScript 2015 (ES2015)
                </td>
                <td>
                    <ul>
                        <li>let </li>
                        <li>const</li>
                        <li>Arrow Functions</li>
                        <li>The ... Operator</li>
                        <li>For/of</li>
                        <li>Map Objects</li>
                        <li>Set Objects</li>
                        <li>Classes</li>
                        <li>Promises</li>
                        <li>Symbol</li>
                        <li>Default Parameters</li>
                        <li>Function Rest Parameter</li>
                        <li>String.includes()</li>
                        <li>String.startsWith()</li>
                        <li>String.endsWith()</li>
                        <li>Array.from()</li>
                        <li>Array keys()</li>
                        <li>Array find()</li>
                        <li>Array findIndex()</li>
                        <li>New Math Methods</li>
                        <li>New Number Properties</li>
                        <li>New Number Methods</li>
                        <li>New Global Methods</li>
                        <li>Object entries</li>
                        <li>JavaScript Modules</li>
                        <a href="https://www.w3schools.com/js/js_es6.asp" target="_blank">Source</a>
                    </ul>


                </td>
                <td>Allen Wirfs-Brock
                </td>
            </tr>
            <tr>
                <th scope="row">7
                </th>
                <td>June 2016
                </td>
                <td>ECMAScript 2016 (ES2016)
                </td>
                <td>
                    <ul>
                        <li>Array.prototype.includes()</li>
                        <li>Exponentiation Operator</li>
                        <a href="https://flaviocopes.com/es2016/">Source</a>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">8
                </th>
                <td>June 2017
                </td>
                <td>ECMAScript 2017 (ES2017)
                </td>
                <td>
                    <ul>
                        <li>async and await</li>
                        <li>String padding</li>
                        <li>Object entries()</li>
                        <li>Object values()</li>
                        <li>Object.getOwnPropertyDescriptors</li>
                        <a href="https://www.w3schools.com/js/js_2017.asp" target="_blank">Source</a>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">9
                </th>
                <td>June 2018
                </td>
                <td>ECMAScript 2018 (ES2018)
                </td>
                <td>
                    <ul>
                        <li>Asynchronous Iteration</li>
                        <li>Promise Finally</li>
                        <li> Object Rest Properties</li>
                        <li> New RegExp Features</li>
                        <li>JavaScript Shared Memory</li>
                        <a href="https://www.w3schools.com/js/js_2018.asp" target="_blank">Source</a>
                    </ul>

                </td>

            </tr>
            <tr>
                <th scope="row">10
                </th>
                <td>June 2019
                </td>
                <td>(ES2019)
                </td>
                <td>
                    <ul>
                        <li>String.trimStart()</li>
                        <li>String.trimEnd()</li>
                        <li>Object.fromEntries</li>
                        <li>Optional catch binding</li>
                        <li>Array.flat()</li>
                        <li>Array.flatMap()</li>
                        <li>Revised Array.Sort()</li>
                        <li>Revised JSON.stringify()</li>
                        <li>Separator symbols allowed in string litterals</li>
                        <li>Revised Function.toString()</li>
                        <a href="https://www.w3schools.com/js/js_2019.asp" target="_blank">Source</a>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">11
                </th>
                <td>June 2020
                </td>
                <td>ECMAScript 2020 (ES2020)
                </td>
                <td>
                    <ul>
                        <li>BigInt</li>
                        <li>String matchAll()</li>
                        <li>The Nullish Coalescing Operator (??)</li>
                        <li>The Optional Chaining Operator (?.)</li>
                        <li>Logical AND Assignment Operator (&&=)</li>
                        <li>Logical OR Assignment (||=)</li>
                        <li>Nullish Coalescing Assignment (??=)</li>
                        <li>Promise allSettled():</li>
                        <li>Promise.allSettled([prom1,prom2,prom3]).then {}</li>
                        <li>Dynamic Import</li>
                        <a href="https://www.w3schools.com/js/js_2020.asp" target="_blank">Source</a>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">12
                </th>
                <td>June 2021
                </td>
                <td>ECMAScript 2021 (ES2021)
                </td>
                <td>
                    <ul>
                        <li>Promise any():</li>
                        <li>const first = await Promise.any([prom1,prom2,prom3]);</li>
                        <li>String replaceAll()</li>
                        <li>Numeric Separators (_)</li>
                        <a href="https://www.w3schools.com/js/js_2021.asp" target="_blank">Source</a>
                    </ul>
                </td>

            </tr>
            <tr>
                <th scope="row">13
                </th>
                <td>June 2022
                </td>
                <td>ECMAScript 2022 (ES2022)
                </td>
                <td>
                    <ul>
                        <li>Array at()</li>
                        <li>String at()</li>
                        <li>RegExp /d</li>
                        <li>Object.hasOwn()</li>
                        <li>error.cause</li>
                        <li>await import</li>
                        <li>Private methods and fields</li>
                        <li>Class field declarations</li>
                        <li><a href="https://www.w3schools.com/js/js_2021.asp" target="_blank">Source</a></li>
                    </ul>
                </td>

            </tr>
            <tr>
                <th>14
                </th>
                <td>June 2023
                </td>
                <td>ECMAScript 2023 (ES2023)
                </td>
                <td>
                    <ul>
                        <li>Array.prototype.toSorted</li>
                        <li>Array.prototype.toReversed</li>
                        <li>Array.prototype.with</li>
                        <li>Array.prototype.findLast</li>
                        <li>Array.prototype.findLastIndex</li>
                        <li>Array.prototype.toSpliced</li>
                        <li><a href="https://www.infoworld.com/article/3703571/all-the-new-features-in-ecmascript-2023-es14.html"
                                target="_blank">Source</a>
                        </li>
                    </ul>

                </td>

            </tr>
        </tbody>
    </table>
            </div>
            
        </div>
    </div>
</body>
</html>