<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesbox.css">
    
    <title>vscode</title>
</head>
<body>
    <div id="wraper">
        <header> 
            <h1>VSCODE</h1>
        </header>
    	<div id="innerwraper">
    
            <Nav> 
                <h2></h2>
                <button onclick="window.location.assign('/')" />BACK</button>
                <button onClick="window.location.reload()"> MAIN </button>
                
            </Nav>
    
            
                <div id="box" class="target">
                    
<div class="vscode_shortcuts">
    <table>
        <thead>
            <th colspan="2">KEY Shortcuts</th>
        </thead>
        <tr>
            <td>Select all the occurrences of current selection</td>
            <td>Ctrl + Shift + L</td>
        </tr>
        <tr>
            <td>Select all the occurrences of current word</td>
            <td>Ctrl + F2</td>
        </tr>
        <tr>
            <td>Comment all selected text</td>
            <td>Shift+Alt+A / Ctrl+K+C</td>
        </tr>
        <tr>
            <td>Comment Line</td>
            <td>// + text</td>
        </tr>
        <tr>
            <td>Uncomment</td>
            <td>Ctrl+K+U</td>
        </tr>
        <tr>
            <td>Fast tag html</td>
            <td>Alt + W</td>
        </tr>
        <tr>
            <td>Boilerplate HTML</td>
            <td>! + tab + enter</td>
        </tr>
        <tr>
            <td>Command palet</td>
            <td>Crtl+Shift+P</td>
        </tr>
        <tr>
            <td>Format Document</td>
            <td>Shift+Alt+F</td>
        </tr>
        <tr>
            <td>Format Selection</td>
            <td>Ctrl+K Ctrl+F</td>
        </tr>
        <tr>
            <td>Duplicate line</td>
            <td>Shift + Alt + Up<br>
                Shift + Alt + Down </td>
        </tr>
        <tr>
            <td>Indentation</td>
            <td>Tab to the right<br>
                Shift + Tab to the left</td>
        </tr>
        <tr>
            <td>Move selection</td>
            <td>Ctrl + drag up/down</td>
        </tr>
        <tr>
            <td>Multiple Cursor</td>
            <td>Alt + Click , Ctrl+Alt+Up/Down</td>
        </tr>

        <tr>
            <td>Column Select</td>
            <td>Ctrl + Shift + Alt + Up, Down, Right, Left, PgUp, PgDown</td>
        </tr>
        <tr>
            <td>Undo</td>
            <td>Ctrl + Z</td>
        </tr>
        <tr>
            <td>Redo</td>
            <td>Ctrl + Y</td>
        </tr>
        <tr>
            <td>Toggle Word Wrap</td>
            <td>Alt + Z</td>
        </tr>
    </table>
</div>

<a href="https://code.visualstudio.com/docs/editor/codebasics" target="_blank">Key Shortcuts</a>

        </div>
            
            
</body>
</html>