<div class="content_container">
    <table>
        <thead>
            <tr>
                <th colspan="2">TAGS</th>
            </tr>
        </thead>
        <tr>
            <td> &lt!DOCTYPE></td>
            <td> Defines the document type</td>
        </tr>

        <tr>
            <td>&lthtml></td>
            <td>Defines an HTML document</td>
        </tr>

        <tr>
            <td>&lthead></td>
            <td> Contains metadata/information for the document</td>
        </tr>

        <tr>
            <td>&ltbody></td>
            <td>Defines the document's body</td>
        </tr>

        <tr>
            <td>&ltmain></td>
            <td>Central topic of the document</td>
        </tr>
        

        <tr>
            <td>&ltdiv></td>
            <td>Generic container for flow content</td>
        </tr>

        <tr>
            <td>&ltsection></td>
            <td>Container intended to divide chapters or topics</td>
        </tr>

        <tr>
            <td>&ltarticle></td>
            <td>Container intended to be reusable, ex: user-submitted comment</td>
        </tr>

        <tr>
            <td>&ltaside></td>
            <td>Sidebar</td>
        </tr>

        <tr>
            <td>&ltheader></td>
            <td>Defines a header for a document or a section</td>
        </tr>

        <tr>
            <td>&ltfooter></td>
            <td>Defines a footer for a document or a section</td>
        </tr>

        <tr>
            <td>&ltnav></td>
            <td>Holds navigation links</td>
        </tr>

        <tr>
            <td>&ltspan></td>
            <td>Inline container for styling purposes </td>
        </tr>

        <tr>
            <td>&lttitle></td>
            <td>Defines a title for the document</td>
        </tr>

        <tr>
            <td>&lth1>&lth2>&lth3>&lth4>&lth5></td>
            <td>Headings</td>
        </tr>

        <tr>
            <td>&ltp></td>
            <td>Defines a paragraph</td>
        </tr>
        <tr>
            <td>&ltul></td>
            <td>Unordered List</td>
        </tr>
        <tr>
            <td>&ltol></td>
            <td>Ordered list</td>
        </tr>
        <tr>
            <td>&ltli></td>
            <td>Line on list</td>
        </tr>
        <tr>
            <td>&ltem></td>
            <td>Words that have a stressed emphasis compared to surrounding text</td>
        </tr>
        <tr>
            <td>&ltcite></td>
            <td>Mark the title of a work (book, play, song, etc.)</td>
        </tr>
        <tr>
            <td>&lti></td>
            <td>Element to mark text</td>
        </tr>
        <tr>
            <td>&ltstrong></td>
            <td>Element to mark text that has greater importance than surrounding text.</td>
        </tr>
        <tr>
            <td>&ltbr></td>
            <td>Inserts a single line break</td>
        </tr>

        <tr>
            <td>&ltpre></td>
            <td>Text preserves spaces and line breaks</td>
        </tr>

        <tr>
            <td>&lthr></td>
            <td>Thematic Break, sets a line between lines</td>
        </tr>

        <tr>
            <td>&lt!--...--></td>
            <td>Comment</td>
        </tr>

        <tr>
            <td>&ltcode></td>
            <td>Contents styled to indicate that the text is computer code</td>
        </tr>

        <tr>
            <td>&lta href=""></td>
            <td>Link</td>
        </tr>


        <tr>
            <td>&ltbutton></td>
            <td>Performs a programmable action</td>
        </tr>

        <tr>
            <td>&lttextarea></td>
            <td>multi-line plain-text editing BOX</td>
        </tr>
        <tr>
            <td>&ltlabel></td>
            <td>caption associated with item in a user interface</td>
        </tr>
        <tr>
            <td>&ltselect></td>
            <td>HTML element represents a control that provides a menu of options.</td>
        </tr>
        <tr>
            <td>&ltstyle></td>
            <td>contains style information for a document</td>
        </tr>
        <tr>
            <td>&ltoption></td>
            <td>used to define an item contained in a &ltselect>, an &ltoptgroup>, or a
                &ltdatalist></datalist>
            </td>
        </tr>
        <tr>
            <td>&ltdl></td>
            <td>HTML element represents a description list.
                The element encloses a list of groups of terms (specified using the &ltdt> element)
                and descriptions (provided by &ltdd> elements)</td>
        </tr>

        <tr>
            <td>&ltcanvas></td>
            <td>Provides a drawing surface on which programmatically generated images can be displayed.
            </td>
        </tr>
        <tr>
            <td>&ltiframe src=""></td>
            <td>An inline frame is used to embed another document within the current HTML document.
                It can be used to render one or multiple websites inside yours.
            </td>
        </tr>
    </table>
</div>