<div class="div__css-inner-block">
    <h2>Text Align:</h2>


    <table>
        <thead>
            <tr>
                <th colspan="2">TEXT ALIGN PROPERTIES</th>
            </tr>
        </thead>
        <tr>
            <td> text-align:</td>
            <td>"sets the horizontal alignment of the inline-level content inside a block element or
                table-cell box"</td>
        </tr>
        <tr>
            <td>text-align: start;</td>
            <td>"Same as “left” in ltr, same as “right” in rtl."</td>
        </tr>
        <tr>
            <td>text-align: end;</td>
            <td>"Same as “right” in ltr, same as “left” in rtl."</td>
        </tr>
        <tr>
            <td>text-align: left;</td>
            <td>"The default value. Content aligns along the left side."</td>
        </tr>
        <tr>
            <td>text-align: right;</td>
            <td>"right – Content aligns along the right side."</td>
        </tr>
        <tr>
            <td>text-align: center;</td>
            <td>"Content centers between the left and right edges."</td>
        </tr>
        <tr>
            <td>text-align: justify;</td>
            <td>"Content spaces out such that as many blocks fit onto one line as possible"</td>
        </tr>
        <tr>
            <td>text-align: justify-all;</td>
            <td>"inline contents of a block are horizontally aligned if the contents do not completely
                fill the line box."</td>
        </tr>
        <tr>
            <td>text-align: match-parent;</td>
            <td>"match parent text-align property"</td>
        </tr>
        <tr>
            <td>text-align: ".";</td>
            <td>"When multiple cells in a column have an alignment character specified, the alignment
                character of each such cell in the column is centered along a single column-parallel
                axis and the rest of the text in the column shifted accordingly. "</td>
        </tr>
        <tr>
            <td>text-align: "." center;</td>
            <td>"character align with a property"</td>
        </tr>
        <tr>
            <td>text-align: -moz-center;</td>
            <td>"Block alignment values"</td>
        </tr>
        <tr>
            <td>text-align: -webkit-center;</td>
            <td>"Block alignment values"</td>
        </tr>
        <tr>
            <td>text-align: inherit;</td>
            <td>"match parent text-align property"</td>
        </tr>
        <tr>
            <td>text-align: initial;</td>
            <td> "?"</td>
        </tr>
        <tr>
            <td>text-align: revert;</td>
            <td>"?"</td>
        </tr>
        <tr>
            <td>text-align: revert-layer;</td>
            <td> "?"</td>
        </tr>
        <tr>
            <td>text-align: unset;</td>
            <td>"?"</td>
        </tr>
    </table>

    <h2>Text Properties:</h2>

    <table>
        <thead>
            <tr>
                <th colspan="2">Text properties</th>
            </tr>
        </thead>
        <tr>
            <td>font-weight: 400;</td>
            <td>"Specifies weight of glyphs in the font, their degree of blackness or stroke thickness."
            </td>
        </tr>
        <tr>
            <td>text-decoration: #3a220e underline wavy;</td>
            <td>"Decorations applied to font used for an element's text."</td>
        </tr>
        <tr>
            <td>letter-spacing: 15px;</td>
            <td>"letter-spacing: 15px;"</td>
        </tr>
        <tr>
            <td>font-size: 80px;</td>
            <td>"Sets the size of the font"</td>
        </tr>
        <tr>
            <td>font-family: monospace;</td>
            <td> "sets font-family"</td>
        </tr>
        <tr>
            <td>line-height: 3;</td>
            <td>"Sets the height of a line box"</td>
        </tr>
    </table>
        <table>
        <tr>
            <th>text-transform:</th>
            <td>none;</td>
        </tr>
        <tr>
            <td> </td>
            <td>capitalize;</td>
        </tr>
        <tr>
            <td> </td>
            <td>uppercase;</td>
        </tr>
        <tr>
            <td> </td>
            <td>lowercase;</td>
        </tr>
        <tr>
            <td> </td>
            <td>full-width;</td>
        </tr>
        <tr>
            <td> </td>
            <td>full-size-kana;</td>
        </tr>



    </table>
</div>