<div class="content_container">
    <table>
        <thead>
            <tr>
                <th colspan="3">&ltinput> Types</th>
            </tr>
        </thead>
        <tr>
            <td>&ltinput type="button"> </td>
            <td>programmed to control custom functionality</td>
            <td><button>Button</button></td>
        </tr>
        <tr>
            <td>&ltinput type="checkbox"> </td>
            <td>boxes that are checked (ticked) when activated</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>&ltinput type="radio"> </td>
            <td>selection checkboxrendered as small circles, which are filled or highlighted when
                selected
            </td>
            <td><input type="radio"></td>
        </tr>
        <tr>
            <td>&ltinput type="color"> </td>
            <td>provide a user interface element that lets a user specify a color</td>
            <td><input type="color"></td>
        </tr>
        <tr>
            <td>&ltinput type="date"> </td>
            <td>create input fields th at let the user enter a date</td>
            <td><input type="date"></td>
        </tr>
        <tr>
            <td>&ltinput type="datetime-local"></td>
            <td>create input controls that let the user easily enter both a date and a time</td>
            <td><input type="datetime-local"></td>
        </tr>
        <tr>
            <td>&ltinput type="month"> </td>
            <td>create input fields that let the user enter a month and year allowing a month and year
            </td>
            <td><input type="month"></td>
        </tr>
        <tr>
            <td>&ltinput type="week"> </td>
            <td>input fields allowing entry of a year plus the ISO 8601 week number</td>
            <td><input type="week"></td>
        </tr>
        <tr>
            <td>&ltinput type="time"> </td>
            <td>input fields designed to enter a time</td>
            <td><input type="time"></td>
        </tr>
        <tr>
            <td>&ltinput type="datetime-local"></td>
            <td>A control for entering a date and time (hour, minute, second, and fraction of a second)
                based on
                UTC time zone.</td>
            <td><input type="datetime-local"></td>
        </tr>
        <tr>
            <td>&ltinput type="email"> </td>
            <td>used to let the user enter and edit an e-mail address</td>
            <td><input type="email"></td>
        </tr>
        <tr>
            <td>&ltinput type="file"> </td>
            <td>let the user choose one or more files from their device storage</td>
            <td><input type="file"></td>
        </tr>
        <tr>
            <td>&ltinput type="hidden"> </td>
            <td>let web developers include data that cannot be seen or modified by users when a form is
                submitted</td>
            <td><input type="hidden"></td>
        </tr>
        <tr>
            <td>&ltinput type="image"> </td>
            <td>used to create graphical submit buttons</td>
            <td><input type="image" id="button1" src="public/button1.png"></td>

        </tr>
        <tr>
            <td>&ltinput type="number"> </td>
            <td>let the user enter a number</td>
            <td><input type="number" min="-10" max="10"></td>
        </tr>
        <tr>
            <td>&ltinput type="password"> </td>
            <td>provide a way for the user to securely enter a password</td>
            <td><input type="password"></td>

        </tr>
        <tr>
            <td>&ltinput type="range"> </td>
            <td>slider or dial control </td>
            <td><input type="range"></td>
        </tr>
        <tr>
            <td>&ltinput type="reset"> </td>
            <td>button with a default click event handler that resets all of the inputs in the form</td>
            <td><input type="reset"></td>

        </tr>
        <tr>
            <td>&ltinput type="search"> </td>
            <td>text fields designed for the user to enter search queries></td>
            <td><input type="search"></td>
        </tr>
        <tr>
            <td>&ltinput type="submit"> </td>
            <td>button that submits the form</td>
            <td><input type="submit"></td>

        </tr>
        <tr>
            <td>&ltinput type="tel"> </td>
            <td>control for entering a telephone number</td>
            <td><input type="tel"></td>
        </tr>
        <tr>
            <td>&ltinput type="text"> </td>
            <td>single-line text field</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>&ltinput type="url"> </td>
            <td>automatically validated to ensure that it's either empty or a properly-formatted URL
                before
                the
                form can be submitted.</td>
            <td><input type="text"></td>
        </tr>


    </table>
</div>