<div class="div__css-inner-block">
    <h2>FLEX BOX</h2>
    <table>
        <tr>
            <th colspan="2">Properties</th>
        </tr>
        <tr>
            <td>flex-direction: </td>
            <td>row/column;</td>
        </tr>
        <tr>
            <td>justify-content:</td>
            <td>flex-start/flex-end/center/space-between/space-around/space-evenly;(main axis)</td>
        </tr>
        <tr>
            <td>align-items: </td>
            <td>flex-start/flex-end/center/baseline(aligns to text baseline); (cross axis) </td>
        </tr>
        <tr>
            <td>flex-wrap: </td>
            <td>wrap/wrap-reverse/nowrap;</td>
        </tr>
        <tr>
            <td>align-content:</td>
            <td>flex-start/end/center/space-between/space-around/space-evenly; (handles the space
                between the
                columns when wrap is on)</td>
        </tr>
        <tr>
            <td>align-self:</td>
            <td>flex-start/flex-end/center; (aligns the selected element in the cross axis) </td>
        </tr>
        <tr>
            <td>flex-basis:</td>
            <td> 400px;(size of the main axis direction)</td>
        </tr>
        <tr>
            <td>flex-grow:</td>
            <td> 1/2/3/...(element grow proportionaly respect the others taking available space)</td>
        </tr>
        <tr>
            <td>flex-shrink:</td>
            <td> 1/2/3... (element shrinks when there is not enought space on the container)</td>
        </tr>
        <tr>
            <th>flex:</th>
        </tr>
        <tr>
            <td>flex: 2; </td>
            <td> One value, unitless number: flex-grow</td>
        </tr>
        <tr>
            <td>flex: 10em; </td>
            <td> One value, width/height: flex-basis</td>
        </tr>
        <tr>
            <td>flex: 1 30px; </td>
            <td> Two values: flex-grow | flex-basis</td>
        </tr>
        <tr>
            <td>flex: 2 2; </td>
            <td> Two values: flex-grow | flex-shrink</td>
        </tr>
        <tr>
            <td>flex: 2 2 10%;</td>
            <td> Three values: flex-grow | flex-shrink | flex-basis</td>
        </tr>


    </table>
</div>
