<div class="div__css-inner-block">
    <h2>DISPLAY:</h2>
    <table>
        
        <tr>
            <td>INLINE </td>
            <td>Width & Height are ignored. Margin & padding push elements away horizontally but not
                verticaly.
            </td>
        </tr>
        <tr>
            <td>BLOCK </td>
            <td>Block elements breat the flow of a document. Width Height, Margin, & Padding are
                respected.
            </td>
        </tr>
        <tr>
            <td>INLINE-BLOCK</td>
            <td>Behave like a inline element exept Width, Height, Margin, & Padding are respected. </td>
        </tr>

        <tr>
            <td>flex;</td>
            <td>The element behaves like a block element and lays out its content according to the
                flexbox
                model.</td>
        </tr>
        <tr>
            <td>grid;</td>
            <td>The element behaves like a block element and lays out its content according to the grid
                model.
            </td>
        </tr>
        <tr>
            <td>inline-grid;</td>
            <td></td>
        </tr>
        <tr>
            <td>flow-root;</td>
            <td></td>
        </tr>
        <tr>
            <td>inline-flex;</td>
            <td></td>
        </tr>
        <tr>
            <td>none;</td>
            <td></td>
        </tr>
        <tr>
            <td>contents;</td>
            <td></td>
        </tr>
        <tr>
            <td>inline flow;</td>
            <td></td>
        </tr>
        <tr>
            <td>inline flow-root;</td>
            <td></td>
        </tr>
        <tr>
            <td>block flex;</td>
            <td></td>
        </tr>
        <tr>
            <td>inline flex;</td>
            <td></td>
        </tr>
        <tr>
            <td>block grid;</td>
            <td></td>
        </tr>
        <tr>
            <td>inline grid;</td>
            <td></td>
        </tr>
        <tr>
            <td>block flow-root;</td>
            <td></td>
        </tr>
        <tr>
            <td>block flow;</td>
            <td></td>
        </tr>
        <tr>
            <td>table;</td>
            <td></td>
        </tr>
        <tr>
            <td>table-row;</td>
            <td></td>
        </tr>
        <tr>
            <td>list-item;</td>
            <td></td>
        </tr>
        <tr>
            <td>inherit;</td>
            <td></td>
        </tr>
        <tr>
            <td>initial;</td>
            <td></td>
        </tr>
        <tr>
            <td>revert;</td>
            <td></td>
        </tr>
        <tr>
            <td>revert-layer;</td>
            <td></td>
        </tr>
        <tr>
            <td>unset;</td>
            <td></td>
        </tr>
        <tr>
            <td>table;</td>
            <td></td>
        </tr>
    </table>
</div>